/*********** Styles for the About Us page **********/

.about-us {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 800px;
}

.about-us h1 {
  margin-bottom: 20px;
}

.about-us p {
  margin-bottom: 10px;
  color: #666;
}

/********* Styling for the Pricing Plans section *********/

.pricing-plans {
  text-align: center;
  padding-top: 40px;
}

.pricing-plans h2 {
  margin-bottom: 20px;
}

.plan {
  width: calc(300px);
  padding: 20px;
  margin: 0 auto 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: left;
}

.plan h3 {
  margin-top: 0;
  color: #333;
}

.plan p {
  margin-bottom: 10px;
  color: #666;
}
