/* footer.css */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f1f1f1;
  color: #333;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.footer-section {
  flex: 0 1 calc(15% - 2px);
  margin-bottom: 0;
  font-size: 10px;
}

.footer-section:not(:last-child) {
  margin-right: 0px;
}

.footer-section h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0px;
}

.footer-section h3 a {
  color: #333;
  text-decoration: none;
}

.footer-section h3 a:hover {
  text-decoration: underline;
}

.footer-icons {
  display: flex;
  align-items: center;
}

.footer-icons h3 {
  font-size: 15px;
  margin-right: 15px;
}

.footer-icons a {
  color: #6b7493;
  font-size: 15px;
  margin-right: 5px;
}
.footer-bottom {
  margin-top: 5px;
  text-align: center;
}

.footer-bottom p {
  margin: 0;
  font-size: 12px;
  color: #777;
}

.footer-bottom p a {
  color: #777;
  text-decoration: none;
}

.footer-bottom p a:not(:last-child) {
  margin-right: 8px;
}
