/**** General style for Sub-search page ****/
.searchPage {
  position: relative;
  text-align: center;
  min-height: 100vh;
  margin-left: 100px;
}

.backgroundImage {
  position: absolute;
  top: 0;
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

/******* Sub-results list style *******/
.resultsList-container {
  display: block;
  margin: 0 auto;
  margin-top: 33px;
  padding: 22px 88px;
  width: 500px;
  height: 500px;
  border-radius: 11%;
  background-color: #767f9d93;
}

#resultsList {
  display: block;
  overflow: scroll;
  text-align: left;
  margin: 5px;
  padding: 0;
}

.resultsList-container h1 {
  font-size: 33px;
}

.resultsList-container hr {
  margin-top: 22px;
  margin-bottom: 11px;
  border: 1px solid antiquewhite;
  width: 100%;
}
.list {
  padding: 5px 10px;
  margin: 0;
  list-style-type: none;
  background-color: #767f9d53;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.list li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.result-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchPage h1 {
  margin-top: 33px;
}

#storyNameId {
  color: #6b7593dc;
}

/******* Results bubble style *******/
.result-bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6b7593dc;
  color: #fff;
  border: 1px solid #6b7593;
  border-radius: 50%;
  margin: 88px 22px;
  padding: 44px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.result-icon {
  font-size: 24px;
}

.result-count {
  font-size: 22px;
  font-weight: bold;
}

.result-bubble img:hover {
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.result-bubble:hover {
  background-color: #6b759376;
}
