#supportContent {
  text-align: center;
}

#sp1-contact {
  margin-left: 111px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  font-size: 22px;
  background-color: #6b7493a8;
  color: white;
  border: 10px solid white;
  border-radius: 25px;
}

h3 {
  font-size: 40px;
}
